<br><br><br><br><br>
<div class="container">
<div class="login-block">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, :placeholder => "Email", :class => "username md-field"  %>
  </div>

  <div class="field">
    
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Password (8 character minimum)" , :class => "password md-field"  %>
  </div>

  <div class="field">
    
    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Password Confirmation", :class => "password md-field"  %>
  </div>
<br>
    <center><%= f.submit "Sign up", :class => "md-signup" %></center>
  
<% end %>
</div>
<br />
<br><br>
  <%= link_to "Log in", new_session_path(resource_name), :class => "btn btn-primary btn-block" %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), :class => "btn btn-primary btn-block"  %><br />

</div>