<li id="<%= user.id %>">
  <div class="img"><%=  %> </div>
  <div class="user-name pull-left">
    <%= link_to profile_user_path(user.id) do %><%= user.email %>,<% end %>
  </div>
  <div class="user-location text-right"><i class="fa fa-mortar-board"> </i> <%= user.email %></div>
  <div><%= %></div>
  <div class="like"></div>
  <div class="dislike"></div>
  <%= link_to "", create_friendships_path(friend_id: user.id), id: "user_#{user.id}", method: :post, :remote => true %>

</li>