<br>
<br>
<br>
<div class="container">
  <h1>Edit Profile</h1>
  <%= simple_form_for(@user, html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col col-xs-4">
      <h4 class="text"><small style="color: white;">Activity #1</small></h4>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle profile-dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          <%= if current_user.interest1.nil? 
           "Interest #1" else current_user.interest1 end %>
           <span class="caret"></span>
         </button>
         <ul class="dropdown-menu" id="dropdownList1" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation" class="dropdown-header"> Choose One</li>
          
        </ul>
      </div>
      <%= f.input :interest1, as: :hidden, label: false %>
    </div>
    <div class="col col-xs-4">
      <h4 class="text"><small style="color: white;">Activity #1</small></h4>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle profile-dropdown" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
          <%= if current_user.interest2.nil? 
           "Interest" else current_user.interest2 end %>
           <span class="caret"></span>
         </button>

         <ul class="dropdown-menu" id="dropdownList2" role="menu" aria-labelledby="dropdownMenu2">
          <li role="presentation" class="dropdown-header"> Choose One</li>
        </ul>
      </div>
      <%= f.input :interest2, as: :hidden, label: false %>
    </div>
    <div class="col col-xs-4">
      <h4 class="text"><small style="color: white;">Activity #3</small></h4>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle profile-dropdown" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="true">
          <%= if current_user.interest3.nil? 
           "Interest" else current_user.interest3 end %>
           <span class="caret"></span>
         </button>
         <ul class="dropdown-menu" id="dropdownList3" role="menu" aria-labelledby="dropdownMenu3">
          <li role="presentation" class="dropdown-header"> Choose One</li>

        </ul>
      </div>
      <%= f.input :interest3, as: :hidden, label: false %>
    </div>
  </div>
  <h4 class="text"><small style="color: white;">Profile Description</small></h4>
  <%= f.input :bio, as: :text, class: "form-control", label: false, :input_html => { :rows => 5, class: 'form-control', value: current_user.bio } %>

  <div class="row">
    <div class="col col-xs-6">
      <div>
        <h4 class="text"><small style="color: white;">Major</small></h4>
        <%= f.input :major, label: false, :input_html => { class: 'form-control', value: current_user.major } %>
      </div>
    </div>
    <div class="col col-xs-6">
      <h4 class="text"><small style="color: white;">Year</small></h4>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle profile-dropdown" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-expended="true">
          <%= current_user.year || "Year" %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
          <li role="presentation" class="dropdown-header"> Year</li>
          <li role="presentation" class="year"><a role="menuitem" tabindex="-1" href="#"> First Year </a></li>
          <li role="presentation" class="year"><a role="menuitem" tabindex="-1" href="#"> Sophomore </a></li>
          <li role="presentation" class="year"><a role="menuitem" tabindex="-1" href="#"> Junior </a></li>
          <li role="presentation" class="year"><a role="menuitem" tabindex="-1" href="#"> Senior </a></li>
        </ul>
      </div>
      <%= f.input :year, as: :hidden, label: false %>
    </div>
  </div>
  <br>
  <center>
    <%= image_tag "#{current_user.image}", size: "150x128" %>
    <br>
    <br>
    <%= f.input :image, label: false %>
  </center>
  <br>

  <%= f.button :submit, class: "btn btn-primary btn-block" %>
  <% end %>
</div>

<script type="text/javascript">

$('.interest1').click(function(){
  $("#dropdownMenu1").text($(this).text());
  $("#dropdownMenu1").append(' <span class="caret"></span>');
  $("#user_interest1").val($(this).text());
});

$('.interest2').click(function(){
  $("#dropdownMenu2").text($(this).text());
  $("#dropdownMenu2").append(' <span class="caret"></span>');
  $("#user_interest2").val($(this).text());
});

$('.interest3').click(function(){
  $("#dropdownMenu3").text($(this).text());
  $("#dropdownMenu3").append(' <span class="caret"></span>');
  $("#user_interest3").val($(this).text());
});

$('.year').click(function(){
  $("#dropdownMenu4").text($(this).text());
  $("#dropdownMenu4").append(' <span class="caret"></span>');
  $("#user_year").val($(this).text());
});

var emojis=[":nail_care:",":dancer:",":fork_knife_plate:",":cocktail:",":beer:",":wine_glass:",":icecream:",":pizza:",":sushi:",":soccer:",":basketball:",":football:",":baseball:",":tennis:",":volleyball:",":golf:",":ping_pong:",":badminton:",":skier:",":snowboarder:",":swimmer:",":surfer:",":fishing_pole_and_fish:",":lifter:",":mountain_bicyclist:",":tickets:",":art:",":microphone:",":guitar:",":video_game:",":bowling:",":musical_keyboard:",":sunrise:",":beach:",":roller_coaster:",":projector:",":telescope:",":microscope:",":ballot_box:",":star_and_crescent:",":wheel_of_dharma:",":cross:",":star_of_david:",":orthodox_cross:"];

function populateIcons(id, classToAdd){
  for(var i=0; i<emojis.length; i++){
    var input=emojis[i];
    var output = emojione.shortnameToImage(input);
    var index = output.indexOf("//");
    output = output.slice(0,index) + "http:" + output.slice(index);
    output = '<a role="menuitem" tabindex="-1" href="#"> ' + output + " " + '</a>'
    var li = document.createElement("li");
    li.innerHTML = output;
    li.setAttribute("class", classToAdd);
    li.setAttribute("role","presentation");
    document.getElementById(id).appendChild(li);
  }
}
window.onload = populateIcons('dropdownList1', 'interest1');
window.onload = populateIcons('dropdownList2', 'interest2');
window.onload = populateIcons('dropdownList3', 'interest3');


</script>

