<% if current_user %>
  <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <ul class="nav navmenu-nav">
      <li class="<%= if params[:action] == "index" then "active" end %> nav-btn">
        <%= link_to root_path do %><i class="fa fa-users"></i> discover <% end %>
      </li>

      <li class="<%= if params[:action] == "friends" then "active" end %> nav-btn">
        <%= link_to friends_user_path(current_user) do %><i class="fa fa-heart"></i> friends <% end %>
      </li>

      <li class="<%= if params[:action] == "edit_profile" then "active" end %> nav-btn">
        <%= link_to edit_profile_user_path(current_user) do %><i class="fa fa-cog"></i> edit profile <% end %>
      </li>

      <li class="<%= if params[:action] == "edit" then "active" end %> nav-btn">
        <%= link_to edit_user_registration_path do %><i class="fa fa-cog"></i> account settings <% end %>
      </li>

      <li class="nav-btn"><%= link_to destroy_user_session_path do %><i class="fa fa-cog"></i> log out <% end %></li>
    </ul>
  </nav>
  <div class="navbar navbar-default navbar-fixed-top">  
      <button type="button" class="navbar-toggle button-nav" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
        <i class="fa fa-cog"></i>
      </button>

      <button type="button" class="navbar-toggle button-nav pull-right">
        <%= link_to friends_user_path(current_user) do %><i class="fa fa-heart"></i><% end %>
      </button>

  </div>

<% else %>

  <a class="navbar-brand" href="#">
    <%= image_tag "logo_io_white.png", alt: "eBae logo", class: "logo-brand" %>
  </a>

<% end %>